<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbt.server.mapper.CourseVideoMapper">

    <select id="sumTotalDurationByCourseId" resultType="long">
        SELECT SUM(duration)
        FROM course_video
        WHERE course_id = #{courseId}
    </select>

    <delete id="deleteByCourseId">
        DELETE FROM course_video WHERE course_id = #{courseId}
    </delete>

</mapper> 